*{

}
html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #dddddd;
  overflow-y: hidden;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
body{
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: hidden;
  background: #595959;
}
p{
  margin: 0px;
}
a{
  text-decoration: none;
}
span,div,button,label{
  outline: none;
}
.select-none{
  user-select:  none;
}
.clearfix{
  clear: both;
}
.moon-container{
  padding: 10px 10px;
}
.moon-ellipsis-class{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.textCenter{
  text-align: center;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.el-button+.el-button {
  margin-left: 0px;
}
.layout-menu-add .el-button--mini, .el-button--mini.is-round {
  padding: 7px 5px;
}
.demoRuleClass .el-slider__runway {
  width: 100%;
  height: 3px;
  margin: 0px 0px;
  background-color: #E4E7ED;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  margin: 0px 5px;
}
.demoRuleClass .el-slider__button {
  width: 10px;
  height: 10px;
  border: 2px solid #409EFF;
  background-color: #FFF;
  border-radius: 50%;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.indexPopVisible.el-popover {
  position: absolute;
  background: #454545;
  min-width: 150px;
  border: 1px solid #353535;
  padding: 12px;
  z-index: 2000;
  color: #f8f8f8;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  word-break: break-all;
}
.indexPopVisible.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #454545;
}
.indexPopVisible.el-popper[x-placement^=bottom] .popper__arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #353535;
}
.drawer-list, .drawer-opr{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.drawer-bottom{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.drawer-default-bottom{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.drawer-right-bottom{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.drawer-bottom .el-drawer__body, .drawer-default-bottom .el-drawer__body,.drawer-list .el-drawer__body,.drawer-opr .el-drawer__body{
  padding: 0px 10px 0px 10px;
}
.drawer-child-bottom .el-drawer__body{
  padding: 0px 0px 0px 0px;
}
.drawer-default-bottom .el-drawer__body{
  overflow-y: hidden;
}
.drawer-right-bottom .el-drawer__body{
  padding: 0px 10px 0px 10px;
  background: #f5f5f5;
}
.drawer-list .el-drawer__body{
  background: #f1f1f1;
}
.drawer-opr .el-drawer__body{
  background: #FFFFFF;
}
.drawer-bottom .el-drawer__header, .drawer-child-bottom .el-drawer__header, .drawer-default-bottom .el-drawer__header, .drawer-list .el-drawer__header, .drawer-opr .el-drawer__header{
  align-items: center;
  color: #72767b;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 0px 0;
}
.drawer-right-bottom .el-drawer__header{
  align-items: center;
  color: #72767b;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 0px 0;
}
.drawer-list .block-list-header{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0px 15px;
  background: #FFFFFF;
  font-size: 14px;
}
.drawer-opr .block-opr-header{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0px 15px;
  background: #eeeeee;
  font-size: 14px;
}
.drawer-list .block-list-content-item{
  height: 60px;
  text-align: left;
  padding: 0px 15px;
  background: #FFFFFF;
  border-radius: 5px;
  color: #434343;
  border: 1px solid #eeeeee;
  font-size: 14px;
}
.textLeft{
  text-align: left;
}
.textRight{
  text-align: right;
}
.textCenter{
  text-align: center;
}
.netmoon-form-dialog .el-input__inner, .netmoon-form-item-dialog .el-input__inner{
  border: 0px;
  text-align: right;
  padding: 0px;
}
.netmoon-form-dialog input::-webkit-input-placeholder, .netmoon-form-item-dialog input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #dddddd;
}
.netmoon-form-dialog input:-moz-placeholder, .netmoon-form-item-dialog input::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #dddddd;
}
.netmoon-form-dialog input::-moz-placeholder, .netmoon-form-item-dialog input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #dddddd;
}
.netmoon-form-dialog input:-ms-input-placeholder,.netmoon-form-item-dialog input::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #dddddd;
}
.fontBold{
  font-weight: bold;
}
.font-size-10{
  font-size: 10px;
}
.font-size-12{
  font-size: 12px;
}
.font-size-13{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-15{
  font-size: 15px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-17{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-19{
  font-size: 19px;
}
.font-size-20{
  font-size: 20px;
}
.marginTop50{
  margin-top: 50px;
}
.marginTop30{
  margin-top: 30px;
}
.marginTop20{
  margin-top: 20px;
}
.marginTop10{
  margin-top: 10px;
}
.marginTop15{
  margin-top: 15px;
}
.marginTop5{
  margin-top: 5px;
}
.marginLeft10{
  margin-left: 10px;
}
.marginBottom2{
  margin-bottom: 2px;
}
.marginBottom10{
  margin-bottom: 10px;
}
.marginBottom20{
  margin-bottom: 20px;
}
.marginBottom50{
  margin-bottom: 50px;
}
.marginLR30{
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.marginLR20{
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.padding-full10{
  padding: 10px 10px;
}
.padding-full5{
  padding: 5px 5px;
}
.padding-right5{
  padding-right: 5px;
}
.padding-lf5{
  padding: 0px 5px;
}
.padding-lf15{
  padding: 0px 15px;
}
.padding-full20{
  padding: 20px 20px;
}
.padding-tb10-lr20{
  padding: 10px 20px;
}
.color-ffffff{
  color: #FFFFFF;
}
.color-333333{
  color: #333333;
}
.color-666666{
  color: #666666;
}
.color-bbbbbb{
  color: #bbbbbb;
}
.color-success{
  color: #67c23a;
}
.color-error{
  color: #f56c6c;
}
.color-warning{
  color: #e6a23c;
}
.color-default{
  color: #909399;
}
.color-disabled{
  color: #C0C4CC;
}
.width260{
  width: 260px;
}
.disbled-icon{
  cursor: not-allowed;
}
.item-icon{
  height: 25px;
  width: 25px;
}
.pop-custom.el-popover{
  min-width: 80px;
  outline: 0 !important;
}
.drawerHeader{
  height: 45px;
  line-height: 45px;
  background: #dddddd;
}
.drawerRightHeader{
  height: 45px;
  line-height: 45px;
  background: #dddddd;
}
.drawerHeaderDiv{
  text-align: center;
}
.drawerHeaderBtn{
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
.rightDialogTab{
  height: 60px;
  line-height: 60px;
}
.rightDialogContent{
  border-radius: 5px;
  background: #ffffff;
  padding: 10px 5px;
  color: #777777;
}
.rightdialogContentItem{
  padding:10px 0px;
  border-bottom: 1px solid #f8f8f8;
}
.index-item-title{
  margin-top: 0px;
  position: relative;
  top: -5px;
}
.index-item-room{
  position: relative;
  top: 5px;
}
.index-pop-item{
  padding: 8px 10px;
  color: #777777;
}
.border-bottom-item{
  border-bottom: 1px solid #f8f8f8;
}
.alertHeader{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eeeeee;
}
.alertTitle{
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}
.alert-class .el-dialog__header{
  padding: 0px;
}
.alert-class .el-dialog__headerbtn{
  top: 12px;
}
.alert-class .el-dialog__footer{
  padding: 0px;
}
.alertContent{
  text-align: center;
  font-size: 12px;
}
.alertFooterClass{
  text-align: center;
  border-top: 1px solid #eeeeee;
}
.alertFooterSpan{
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #409eff;
  cursor: default;
}
.alertFooterSpanRightBorder{
  border-right: 1px solid #eeeeee;
}
.netmoon-form-item-dialog.el-form-item {
  margin-bottom: 5px;
}
.netmoon-form-dialog .el-form-item {
  margin-bottom: 5px;
}
.netmoon-form-item-border-dialog.el-form-item {
  margin-bottom: 5px;
}
.indexPopVisible{
  z-index: 9 !important;
}
.rightPopVisible{

}
.block-plane .el-tree {
  position: relative;
  cursor: default;
  background: #FFF;
  color: #606266;
  border-radius: 5px;
}
.block-plane .el-tree-node__content {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.block-plane .el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #FFF;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 6px;
  position: absolute;
  top: 3px;
  transform: rotate(
    45deg
  ) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}
.block-plane .el-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background-color: #FFF;
  z-index: 1;
  transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.block-plane .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #FFF;
  height: 2px;
  transform: scale(.5);
  left: 0;
  right: 0;
  top: 6px;
}
.room-Block-Item{
  border-radius: 5px;
  border: 1px solid #dddddd;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 12px;
  color: #434343;
  background: #fefefe;
}
.room-Block-active{
  border: 1px solid #E6A23C;
}
.pop-child-bLock{
  background: #000000;
  border-radius: 5px;
  opacity:0.5;
  color: #FFFFFF;
  max-height: 200px;
  overflow-y: auto;
}
.pop-child-item{
  font-size: 10px;
  /*display: inline-block;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
}
.order-item-tag{
  display: inline-block;
  top: 2px;
  background: #409EFF;
  font-size: 10px;
  color: #ffffff;
  border-radius: 2px;
  padding:2px 2px;
}
.item-tips-block{
  display: inline-block;
  position: absolute;
  right: 15px;
  top: -10px;
  width: 15px;
  background: #e6a23c;
  border-radius:  2px;
  padding: 0px 0px;
  font-size: 10px;
  text-align: center;
  z-index: 99;
}
.item-tips-list-block{
  display: inline-block;
  position: absolute;
  right: 15px;
  top: -15px;
  width: 15px;
  background: #e6a23c;
  border-radius:  2px;
  padding: 0px 0px;
  font-size: 10px;
  text-align: center;
  z-index: 99;
}
.custon-card-class .el-card__header {
  padding: 10px 10px;
  border-bottom: 1px solid #EBEEF5;
  box-sizing: border-box;
}
/***loading***/
.custom-g-loading .el-icon-loading{
  font-size: 32px;
}
.custom-g-loading .el-loading-text{
  font-size: 15px;
}


